{% extends 'layout.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<head><link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<h1>Welcome to the Predicting Airline
    Delays Project</h1>
<p>This project aims to Improving Passenger Experience: Predicting Airline
    Delays Through Machine Learning.

    Accurate predictions help airlines optimize schedules, reduce costs, and improve operational efficiency. Passengers benefit by planning their trips better, avoiding unnecessary waiting times.
</p>
{% endblock %}